<table id="body_inprogress_interviews" class="table table-bordered table-striped table-hover">
   <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Author</th>
      <th>Time of test</th>
      <th>Applied No.</th>
      <th>Due date</th>
      <% if current_user && !@inprogress_interview.empty? %>
        <th></th>
        <% if current_user.admin? %>
          <th></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @inprogress_interview.empty? %>
      <tr class="info">
        <td colspan="6">No data to show</td>
      </tr>
    <% else%>
      <% @inprogress_interview.each do |interview|%>
        <%= render :partial => "home/inprogress_interview" , :locals => {:interview => interview}%>
      <% end %>
    <% end %>
  </tbody>
</table>