<div class="container">
  <h4>Edit Interview: <%= @interview.title%></h4>
  <br />
<%= render :partial => "form",:locals => {:interview => @interview ,:questions => @questions} %>
</div>
<style>
  .edit:hover {
    text-decoration: underline;
  }
  .delete:hover {
    text-decoration: underline;
  }
</style>
<script>
   jQuery(function() {
    $(".no_number").each(function(i){
      $(this).text(i+1);
    });
    $("#interview_start_date").datepicker();
    $("#interview_due_date").datepicker();
    $("#interview_start_date").datepicker("option", "dateFormat", "yy-mm-dd");
    $("#interview_due_date").datepicker("option", "dateFormat", "yy-mm-dd");
    
    $("#add_question").live("click",function(){
      var root_div = $(".div_question")
      var question_id = parseInt(root_div.attr("question_max_number"));
      question_id = question_id + 1;
      root_div.attr("question_max_number", question_id);
      var html_new_question = "<div class=\"question\"><p style=\"font-size: 15px;color: #0077B3\">No.<span class=\"no_number\">" + (question_id) +":</span> <a href=\"#\" class=\"remove_question\">remove question</a></p>"
      html_new_question += "<p>Question</p>"
      html_new_question +=  "<input type=\"text\" name=\"interview[questions][" + question_id + "][content]\" class=\"question_content\" question_id=\""+ question_id +"\" placeholder=\"question content...\"/>"
      html_new_question +=  "<p>Question type</p>"
      html_new_question += "<select name=\"interview[questions]["+ question_id +"][question_type]\" class=\"btn\">"
      html_new_question +=    "<option value=\"multil\">Multil Choice </option>"
      html_new_question +=    "<option value=\"exact\">Exact answer </option>"
      html_new_question +=   " <option value=\"open\">Open answer </option>"
      html_new_question +=  "</select>"
      html_new_question +=  "<p>Choice answers</p>"
      html_new_question +=  "<div class=\"list_answers\">"
      html_new_question +=    "<div class=\"answers\"><p>Answer No.<span class=\"no_answer\">1</span>: <a class=\"remove_answer\">Remove choice</a></p>"
      html_new_question +=    "<input type=\"text\" placeholder=\"Choice content...\" name=\"interview[questions]["+ question_id +"][answers][1][content]\" /> <input type=\"checkbox\" name=\"interview[questions]["+ question_id + "][answers][1][is_correct]\"/> Is correct"
      html_new_question +=  "</div></div>"
      html_new_question += " <a class=\"add_answer\" answer_max_number=\"1\" question_number=\""+ question_id +"\">Add answer</a>"
      html_new_question +=  "<br /><br /></div>";
      root_div.append(html_new_question);
      var number =1 
      $(".question").each(function(){
      $(this).find(".no_number").text(number);
      number ++;
      });
      return false;
    });
    $(".remove_question").live("click",function(){
      var question_remove = $(this).parent().parent();
      question_remove.remove();
      var number =1 
      $(".question").each(function(){
      $(this).find(".no_number").text(number);
      number ++;
      });
      return false;
    });
    $(".add_answer").live("click", function() {
      var class_answer =  $(this).prev('.list_answers')
      var question_id =parseInt( $(this).attr("question_number"));
      var answer_id =parseInt( $(this).attr("answer_max_number"));
      answer_id = answer_id + 1;
      $(this).attr("answer_max_number", answer_id);
      var html_new_answer = "<div class=\"answers\"><p>Answer No.<span class=\"no_answer\"></span>: <a class=\"remove_answer\">Remove choice</a></p>"
      html_new_answer += "<input type=\"text\" placeholder=\"Choice content...\" name=\"interview[questions]["+question_id+"][answers][" + answer_id + "][content]\" />";
      html_new_answer += " <input type=\"checkbox\" name=\"interview[questions]["+question_id+"][answers][" + answer_id + "][is_correct]\"/> Is correct </div>";
      class_answer.append(html_new_answer);
      var number =1 ;
      class_answer.find(".answers").each(function(){
      $(this).find(".no_answer").text(number);
      number ++;
      });
      return false
    });
    $(".remove_answer").live("click",function(){
      var answer_remove = $(this).parent().parent();
      var class_answer = answer_remove.parent();
      var answer_id = $(this).attr("value");
      var url_ajax = '/answer/delete'
      var number =1 ;
      if (answer_id != ""){
        $.ajax({
          url : url_ajax,
          type : "POST",
          data : 'answer_id=' + answer_id,
          dataType : "text",
          success : function() {
          //  location.reload();
            }
        });
      }
      answer_remove.remove();
      class_answer.find(".answers").each(function(){
      $(this).find(".no_answer").text(number);
      number ++;
      });
      return false;
    });
    $(".edit_question").live("click",function(){
      $(this).parent().hide()
      $(this).parent().parent().find(".question_edit").show()
      return false;
    })
    
    $(".delete_question").live("click",function(){
      if (confirm('Are you sure ?')) {
        var question_remove = $(this).parent().parent();
        var url_ajax = '/question/delete';
        var number =1;
        var question_id = $(this).attr("value");
        question_remove.remove();
        $(".question").each(function(){
          $(this).find(".no_number").text(number);
          number ++;
        });
        $.ajax({
          url : url_ajax,
          type : "POST",
          data : 'question_id=' + question_id,
          dataType : "text",
          success : function() {
          //  location.reload();
            }
        });
        return false;
      }
    });
  });
</script>